:root{
    --border-radius: 10px;
    --background-color: black;
}

body{
    background-color: var(--background-color);
}

header{
    background-color: orange;
    padding: 5%;
    text-align: center;
    margin-bottom: 5%;
}

h1{
    margin: 2%;
}

button{
    padding: 1% 2%;
    border-radius: var(--border-radius);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container{
    background-color: yellow;
    border: 1px solid;
    margin: 2%;
    padding: 2%;
    border-radius: var(--border-radius);
    width: 40%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

button{
    background-color: var(--background-color);
    color: white;
}